<launch>
  <node name="VisionArbitrator" pkg="lab3" type="visionArbitrator.py" output="screen">
    <remap from="image" to="/usb_cam/image_raw"/>
  </node>

  <node name="VisualServo" pkg="lab3" type="vServo.py" output="screen">
    <param name="debug" type="string" value="0"/>
    <param name="Py" type="string" value="1.0"/>
    <param name="Dy" type="string" value="0"/>
    <param name="Px" type="string" value="0.5"/>
    <param name="Dx" type="string" value="0"/>
    <param name="Distance" type="string" value="80"/>
    <param name="LandmarkNumber" type="string" value="-1"/>
  </node>

  <node name="BallDozer" pkg="lab3" type="ballDozer.py" output="screen">
    <param name="debug" type="string" value="1" />
    <param name="color1" type="string" value="blue"/>
    <param name="color2" type="string" value="red"/>
    <param name="landmark1" type="string" value="19"/>
    <param name="landmark2" type="string" value="15"/>
 </node>


</launch>
